Source: es
Maintainer: Nocte <nocte@hippie.nu>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8), cdbs
Standards-Version: 3.9.4
Homepage: http://github.com/Nocte-/es

Package: libes1-dev
Section: libdevel
Architecture: any
Depends: libes1 (= ${binary:Version}), ${misc:Depends}
Description: Entity System library (development files)
 Entity-Component System in C++11.

Package: libes1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Entity System library
 Entity-Component System in C++11.

